---
import { Image } from "astro:assets";
import me from "../assets/images/me.jpg";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="hero bg-base-200 min-h-screen py-12">
  <div class="hero-content flex-col lg:flex-row">
    <Image class="max-w-sm rounded-lg shadow-2xl" src={me} alt="me" />
    <div class="max-w-md text-center md:text-start">
      <h1
        class="text-5xl font-bold dark:bg-none dark:text-base-content bg-gradient-to-r from-rose-500 via-indigo-800 to-blue-500 text-transparent bg-clip-text"
      >
        {t("hero.title")}
      </h1>
      <h3 class="text-3xl py-6">{t("hero.subtitle")}</h3>
      <button id="know-more" class="btn btn-primary">
        {t("hero.button")}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
        </svg>
      </button>
    </div>
  </div>
</div>

<script>
  const knowMoreButton = document.getElementById("know-more");
  const knowMoreSection = document.getElementById("know-more-section");

  const onClick = () => {
    knowMoreSection?.scrollIntoView({
      behavior: "smooth",
      block: "start",
      inline: "nearest",
    });
  };

  knowMoreButton?.addEventListener("click", onClick);
</script>
