---
import { getLangFromUrl } from "../i18n/utils";
import { Tabs } from "./Tabs";
import { Timeline } from "./Timeline";

const lang = getLangFromUrl(Astro.url);
---

<section id="know-more-section" class="h-screen max-w-4xl pt-20 mx-auto">
  <Tabs lang={lang} client:only="react" />
  <Timeline lang={lang} client:only="react" />
</section>
