---
import Birthday from "./icons/Birthday.astro";
import Education from "./icons/Education.astro";
import Work from "./icons/Work.astro";
import { data } from "../data";
import type { languages } from "../i18n/ui";
import { getYearLabel } from "../utils/timeline";
interface Props {
  lang: keyof typeof languages;
  year: number;
  position: "start" | "middle" | "end";
}
const { year, position, lang } = Astro.props;
const entry = data[lang][year];
const category = entry[0].category;
---

<li>
  {position !== "start" && <hr class="bg-primary" />}
  <div class="timeline-start timeline-box">
    {getYearLabel(year, lang)}
  </div>
  <div class="timeline-middle">
    {
      category === "General" ? (
        <Birthday />
      ) : category === "Education" ? (
        <Education />
      ) : (
        <Work />
      )
    }
  </div>
  {
    (
      <div class="timeline-end timeline-box">
        {entry.map((d) => (
          <p>- {d.title}</p>
        ))}
      </div>
    )
  }
  {position !== "end" && <hr class="bg-primary" />}
</li>
