---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<html lang={lang} dir={lang === "en" ? "ltr" : "rtl"}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
    <title>{t("navbar.title")}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
